.nav-text{
    margin-left: 190%;
}

.container-fluid{
    padding: 10px 0 10px 0;
}


form{
    padding: 10% 25% 0 30%;
}

.output{
    padding: 3% 25% 0 30%;
}

.output1{
    padding: 3% 25% 0 40%;
}
